// Login page
// Overwrite the default jazzmin app login page styles
.jazzmin-page
    img
        width: 200px

// Fix logo in sidebar
.brand-link.active
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

// Customize tagify
.tagify__input
    margin: 0 !important
    padding: 0 !important
    padding-left: 10px !important

tag.tagify__input
    margin-block: 3px !important

// Remove avatar in sidebar
.user-panel.d-flex
    display: none !important
    border: 2px solid red