// Login page
// Overwrite the default jazzmin app login page styles
.jazzmin-page
    img
        width: 200px

// Fix logo in sidebar
.brand-link.active
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column