/* Tipografía y Estilo Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
/* Botones Like/Dislike */
.feedback-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.like-button, .dislike-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.like-button:hover, .dislike-button:hover {
    transform: scale(1.2);
}

.like-button {
    color: #7D3C98;
}

.dislike-button {
    color: #FF6347;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #D3D3D3;
    color: #000000;
    overflow: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 25px;
    background-color: #F0F0F0;
    color: black;
    border-bottom: 1px solid #B0B0B0;
}

.logo {
    height: 50px;
}

.menu {
    cursor: pointer;
    font-size: 16px;
    background-color: #7D3C98;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.menu:hover {
    background-color: #5A2479;
    box-shadow: 0 0 10px #7D3C98, 0 0 20px #7D3C98, 0 0 30px #7D3C98;
}

/* Botón Biblioteca */
.biblioteca-button {
    cursor: pointer;
    font-size: 16px;
    background-color: #7D3C98;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.biblioteca-button:hover {
    background-color: #5A2479;
    box-shadow: 0 0 10px #7D3C98, 0 0 20px #7D3C98, 0 0 30px #7D3C98;
}

/* Contenedor Principal */
#container {
    display: flex;
    flex-direction: row;
    height: 93%;
    overflow: hidden;
}

/* Estilo de la barra de programas */
#programas-container {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

#programa-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #7D3C98;
    background-color: #7D3C98;
    color: #FFFFFF;
    font-size: 14px;
}

#programa-selects option {
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
}

#moments-sidebar {
    width: 200px;
    background-color: #F0F0F0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid #B0B0B0;
}

.moment-button {
    padding: 10px;
    background-color: transparent;
    color: #000000;
    border: 2px solid #7D3C98;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.moment-button:hover {
    background-color: #7D3C98;
    box-shadow: 0 0 10px #7D3C98, 0 0 20px #7D3C98, 0 0 30px #7D3C98;
    color:#FFFFFF
}

/* Estilos del Toggle */
.toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.switch {
    position: sticky;
    display: inline-block;
    width: 40px;
    height: 18px;
    margin: 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4A4A4A;
    transition: .4s;
    border-radius: 44px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    transition: .2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #7D3C98;
}

input:checked + .slider:before {
    transform: translateX(9px);
}

#lead-options {
    display: none;
    flex-direction: column;
    gap: 5px;
}

#lead-options label {
    margin: 0;
    font-size: 14px;
    color: #000000;
}

/* Sección del Chat */
#chat-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#chat-display {
    flex-grow: 1;
    padding: 20px;
    background-color: #E0E0E0;
    overflow-y: auto;
    margin-bottom: 10px;
}

#submoments-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #F0F0F0;
    border-top: 1px solid #B0B0B0;
}

.submoment-tag {
    padding: 5px 10px;
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    border: 2px solid #7D3C98;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.submoment-tag:hover {
    background-color: #7D3C98;
    box-shadow: 0 0 10px #7D3C98, 0 0 20px #7D3C98, 0 0 30px #7D3C98;
    color: #FFFFFF
}

/* Mantener el diseño de los otros elementos */
#text-input-container {
    display: flex;
    padding: 10px;
    background-color: #F0F0F0;
    border-top: 1px solid #B0B0B0;
    margin-top: auto;
}

#user-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #000000;
}

#send-button {
    padding: 10px 20px;
    background-color: #7D3C98;
    color: white;
    border: 2px solid #7D3C98;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#send-button:hover {
    background-color: #7D3C98;
    box-shadow: 0 0 10px #7D3C98, 0 0 20px #7D3C98, 0 0 30px #7D3C98;
}

/* Estilo para los mensajes */
.message {
    padding: 15px;
    margin: 10px 0;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.6;
}

.message.user {
    align-self: flex-end;
    background-color: #E0E0E0;
}

.message.bot {
    align-self: flex-start;
    background-color: #F7F7F7;
}

.message-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
    color: #7D3C98;
}

/* Estilo del Popup */
/* Estilo del Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup.hidden {
    display: none;
}

.popup-content {
    position: relative; /* Para posicionar la X */
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.popup-content h2 {
    font-size: 18px;
    color: #7D3C98;
    margin-bottom: 10px;
}

.popup-content p {
    font-size: 14px;
    color: #333;
}

/* Estilo de la X para cerrar el popup */
.close-popup {
    position: absolute;
    top: -15px; /* Ajusta la posición para que parte del círculo esté fuera del popup */
    right: -15px;
    width: 30px;
    height: 30px;
    background-color: #000; /* Círculo negro */
    color: #FFF; /* Cruz blanca */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    z-index: 10000; /* Asegura que esté por encima del popup */
}

.close-popup:hover {
    background-color: #333; /* Un poco más claro en hover */
}
/* Estilo para la respuesta del momento */
.message-momento {
    font-size: 17px;  /* Un punto más grande que el submomento */
    font-weight: bold;
    font-style: italic;
    margin-bottom: 8px;  /* Espaciado entre momento y submomento */
}

/* Estilo para la respuesta del submomento */
.message-submomento {
    font-size: 16px;
    margin-bottom: 8px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
